<div class="panel panel-primary">
    <div class="panel-heading">
        Testing mobile
    </div>
    <div class="panel-body">
        <p only-mobile="true">I will be shown only in mobile</p>
        <p only-mobile="false">I will be shown only in pc</p>
        <p>I will be shown on both</p>
    </div>
    <div class="panel-footer">
        Mobile?
        <span class="label label-success" only-mobile="true">{{isMobile}}</span>
        <span class="label label-danger" only-mobile="false">No</span>
    </div>
</div>
